global:
  scrape_interval: 15s

scrape_configs:
  - job_name: "node-exporter"
    static_configs:
      - targets: ["{{ dev_bind_ip }}:9100"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["{{ dev_bind_ip }}:8080"]