services:
  sabnzbd:
    image: lscr.io/linuxserver/sabnzbd:latest
    container_name: sabnzbd
    restart: unless-stopped
    stop_grace_period: 60s

    environment:
      PUID: "{{ media_service_uid }}"
      PGID: "{{ media_service_gid }}"
      TZ: "{{ timezone | default('Europe/Zurich') }}"
      UMASK: "002"

{% if homelab_services.core.nginx_proxy_manager | default(false) %}
    expose:
      - "8080"
{% else %}
    ports:
      - "{{ SABnzbd }}:8080"
{% endif %}

    volumes:
      - "{{ homelab_config_dir }}/sabnzbd:/config"
      - "{{ media_cached }}:/data"

    networks:
      - "{{ docker_network_name }}"

networks:
  {{ docker_network_name }}:
    external: true