[defaults]
inventory = ./hosts
private_key_file = ~/.ssh/ansible
log_path = ./ansible.log
retry_files_enabled = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = ./fact_cache
fact_caching_timeout = 86400
remote_tmp = /tmp/.ansible-${USER}

[ssh_connection]
pipelining = True