{{ ansible_managed | comment }}

[Unit]
Description=Muffin Cache Mover
After=network.target

[Service]
Type=oneshot
User={{ nas_user }}
Group={{ media_admin_group }}
WorkingDirectory={{ cache_mover_dir }}
ExecStart=/usr/bin/python3 {{ cache_mover_dir }}/cache-mover.py
Nice=10
IOSchedulingClass=best-effort
IOSchedulingPriority=7

[Install]
WantedBy=multi-user.target