services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    user: "{{ jellyfin_uid_cmd.stdout }}:{{ jellyfin_gid_cmd.stdout }}"
    group_add:
      - "{{ jellyfin_media_read_gid }}"
      - "{{ jellyfin_media_admin_gid }}"
      - "{{ jellyfin_render_gid }}"
    
    devices:
      - /dev/dri:/dev/dri

{% if homelab_services.core.nginx_proxy_manager | default(false) %}
    expose:
      - "8096"
{% else %}
    ports:
      - "{{ Jellyfin }}:8096"
{% endif %}

    volumes:
      - "{{ homelab_config_dir }}/jellyfin/config:/config"
      - "{{ homelab_config_dir }}/jellyfin/cache:/cache"
      - "{{ media_cached }}/movies:/media/movies:ro"
      - "{{ media_cached }}/tv:/media/tv:ro"

    networks:
      - "{{ docker_network_name }}"

networks:
  {{ docker_network_name }}:
    external: true