services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped

    environment:
      PUID: "{{ media_service_uid }}"
      PGID: "{{ media_service_gid }}"
      TZ: "{{ system_timezone }}"

    volumes:
      - "{{ homelab_config_dir }}/prowlarr:/config"

    expose:
      - "9696"

    networks:
      - homelab_stack