services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    restart: unless-stopped
    stop_grace_period: 60s

    environment:
      PUID: "{{ media_service_uid }}"
      PGID: "{{ media_service_gid }}"
      TZ: "{{ timezone }}"
      UMASK: "002"

{% if homelab_services.core.nginx_proxy_manager | default(false) %}
    expose:
      - "9696"
{% else %}
    ports:
      - "{{ Prowlarr }}:9696"
{% endif %}

    volumes:
      - "{{ homelab_config_dir }}/prowlarr:/config"

    networks:
      - "{{ docker_network_name }}"

networks:
  {{ docker_network_name }}:
    external: true