services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    stop_grace_period: 60s

{% if homelab_services.core.nginx_proxy_manager | default(false) %}
    expose:
      - "9090"
{% else %}
    ports:
      - "{{ Prometheus }}:9090"
{% endif %}

    volumes:
      - "{{ homelab_config_dir }}/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - "{{ docker_network_name }}"

networks:
  {{ docker_network_name }}:
    external: true