{% if ansible_facts['os_family'] == 'Debian' and ansible_facts['distribution'] == 'Debian' %}
deb http://deb.debian.org/debian {{ ansible_facts['distribution_release'] }} main contrib non-free non-free-firmware
deb http://deb.debian.org/debian {{ ansible_facts['distribution_release'] }}-updates main contrib non-free non-free-firmware
deb http://security.debian.org/debian-security {{ ansible_facts['distribution_release'] }}-security main contrib non-free non-free-firmware
deb http://deb.debian.org/debian {{ ansible_facts['distribution_release'] }}-backports main contrib non-free non-free-firmware

{% elif ansible_facts['distribution'] == 'Ubuntu' %}
deb http://mirror.math.princeton.edu/pub/ubuntu {{ ansible_facts['distribution_release'] }} main restricted universe multiverse
deb http://mirror.math.princeton.edu/pub/ubuntu {{ ansible_facts['distribution_release'] }}-updates main restricted universe multiverse
deb http://mirror.math.princeton.edu/pub/ubuntu {{ ansible_facts['distribution_release'] }}-security main restricted universe multiverse
deb http://mirror.math.princeton.edu/pub/ubuntu {{ ansible_facts['distribution_release'] }}-backports main restricted universe multiverse
{% endif %}