radarr:
  radarr:
    base_url: http://radarr:7878
    api_key: "{{ radarr_api_key }}"

    quality_profiles:
      - trash_id: 2b90e905c99490edc7c7a5787443748b
        reset_unmatched_scores:
          enabled: true

sonarr:
  sonarr:
    base_url: http://sonarr:8989
    api_key: "{{ sonarr_api_key }}"

    quality_profiles:
      - trash_id: dca7e5e9e99c703bcbdaaa471dd40e98
        reset_unmatched_scores:
          enabled: true