radarr:
  radarr:
    base_url: http://radarr:7878
    api_key: "{{ radarr_api_key }}"

    quality_profiles:
      - trash_id: d1d67249d3890e49bc12e275d989a7e9
        name: "[EN + German DL] HD Bluray + WEB"

        reset_unmatched_scores:
          enabled: true

    custom_formats:
      # German DL bevorzugen
      - trash_ids:
          - f845be10da4f442654c13e1f2c3d6cd5
          - 6aad77771dabe9d3e9d7be86f310b867
        assign_scores_to:
          - trash_id: d1d67249d3890e49bc12e275d989a7e9
            score: 11000

      # German-only stark abwerten
      - trash_ids:
          - 86bc3115eb4e9873ac96904a4a68e19e
        assign_scores_to:
          - trash_id: d1d67249d3890e49bc12e275d989a7e9
            score: -10000

      # Weder Deutsch noch Englisch ablehnen
      - trash_ids:
          - 4eadb75fb23d09dfc0a8e3f687e72287
        assign_scores_to:
          - trash_id: d1d67249d3890e49bc12e275d989a7e9
            score: -35000


sonarr:
  sonarr:
    base_url: http://sonarr:8989
    api_key: "{{ sonarr_api_key }}"

    quality_profiles:
      - trash_id: 72dae194fc92bf828f32cde7744e51a1
        name: "[EN + German DL] WEB-1080p"

        reset_unmatched_scores:
          enabled: true

    custom_formats:
      # German DL bevorzugen
      - trash_ids:
          - ed51973a811f51985f14e2f6f290e47a
          - c5dd0fd675f85487ad5bdf97159180bd
        assign_scores_to:
          - trash_id: 72dae194fc92bf828f32cde7744e51a1
            score: 11000

      # Weder Deutsch noch Englisch ablehnen
      - trash_ids:
          - 133589380b89f8f8394320901529bac1
        assign_scores_to:
          - trash_id: 72dae194fc92bf828f32cde7744e51a1
            score: -35000