http:
  pprof:
    port: 6060
    enabled: false
  address: 0.0.0.0:3000
  session_ttl: 30d

users:
  - name: "{{ adguard_admin_user }}"
    password: "{{ adguard_password_hash_cmd.stdout }}"

auth_attempts: 5
block_auth_min: 15
http_proxy: ""
language: en
theme: auto

dns:
  bind_hosts:
    - 0.0.0.0
  port: 53
  upstream_dns:
{% for dns in adguard_upstream_dns %}
    - {{ dns }}
{% endfor %}
  bootstrap_dns:
    - 9.9.9.9
    - 1.1.1.1
  fallback_dns: []
  upstream_mode: load_balance
  protection_enabled: true
  filtering_enabled: true
  cache_enabled: true
  cache_size: 4194304
  ratelimit: 20
  refuse_any: true
  serve_plain_dns: true

querylog:
  enabled: true
  file_enabled: true
  interval: 90d
  size_memory: 1000

statistics:
  enabled: true
  interval: 1d

filters:
  - enabled: true
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_1.txt
    name: AdGuard DNS filter
    id: 1
  - enabled: true
    url: https://adguardteam.github.io/HostlistsRegistry/assets/filter_2.txt
    name: AdAway Default Blocklist
    id: 2

whitelist_filters: []
user_rules: []

dhcp:
  enabled: false

filtering:
  blocking_mode: default
  filtering_enabled: true
  rewrites_enabled: true
  rewrites:
{% for host in homelab_proxy_hosts %}
    - domain: "{{ host.domain }}"
      answer: "{{ homelab_server_ip }}"
      enabled: true
{% endfor %}
  protection_enabled: true
  parental_enabled: false
  safebrowsing_enabled: false

clients:
  runtime_sources:
    whois: true
    arp: true
    rdns: true
    dhcp: false
    hosts: true
  persistent: []

log:
  enabled: true
  file: ""
  max_backups: 0
  max_size: 100
  max_age: 3
  compress: false
  local_time: false
  verbose: false

schema_version: 34