services:
  adguard:
    image: adguard/adguardhome:latest
    container_name: adguard
    restart: unless-stopped

    ports:
      - "{{ AdGuardDNS }}:53/tcp"
      - "{{ AdGuardDNS }}:53/udp"
{% if not (homelab_services.core.nginx_proxy_manager | default(false)) %}
      - "{{ AdGuardAdmin }}:3000"
{% endif %}

{% if homelab_services.core.nginx_proxy_manager | default(false) %}
    expose:
      - "3000"
{% endif %}

    volumes:
      - "{{ homelab_config_dir }}/adguard/work:/opt/adguardhome/work"
      - "{{ homelab_config_dir }}/adguard/conf:/opt/adguardhome/conf"

    networks:
      - "{{ docker_network_name }}"

networks:
  {{ docker_network_name }}:
    external: true