services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped

{% if homelab_services.core.nginx_proxy_manager | default(false) %}
    expose:
      - "80"
{% else %}
    ports:
      - "{{ Vaultwarden }}:80"
{% endif %}

    environment:
      DOMAIN: "{{ vaultwarden_domain }}"
      SIGNUPS_ALLOWED: "{{ vaultwarden_signups_allowed }}"
      INVITATIONS_ALLOWED: "{{ vaultwarden_invitations_allowed }}"
      WEBSOCKET_ENABLED: "{{ vaultwarden_websocket_enabled }}"
      ADMIN_TOKEN: "{{ vaultwarden_admin_token }}"

    volumes:
      - "{{ homelab_config_dir }}/vaultwarden/data:/data"

    networks:
      - "{{ docker_network_name }}"

networks:
  {{ docker_network_name }}:
    external: true