services:
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    stop_grace_period: 60s
{% if homelab_services.core.nginx_proxy_manager | default(false) %}
    expose:
      - "3000"
{% else %}
    ports:
      - "{{ Grafana }}:3000"
{% endif %}

    volumes:
      - "{{ homelab_config_dir }}/grafana/data:/var/lib/grafana"
    networks:
      - "{{ docker_network_name }}"

networks:
  {{ docker_network_name }}:
    external: true