services:
  glance:
    image: glanceapp/glance:latest
    container_name: glance
    restart: unless-stopped

    ports:
      - "{{ Glance }}:8080"

    volumes:
      - "{{ homelab_config_dir }}/glance:/app/config"
      - "{{ homelab_config_dir }}/glance/assets:/app/assets"

    networks:
      - {{ docker_network_name }}

networks:
  {{ docker_network_name }}:
    external: true