services:
  glance:
    image: glanceapp/glance:latest
    container_name: glance
    restart: unless-stopped

{% if homelab_services.core.adguard | default(false) %}
    dns:
      - "{{ homelab_server_ip }}"
{% endif %}

    ports:
      - "{{ Glance }}:8080"

    volumes:
      - "{{ homelab_config_dir }}/glance:/app/config"
      - "{{ homelab_config_dir }}/glance/assets:/app/assets"
      - "{{ homelab_config_dir }}/nginx/certs/homelab-root-ca.crt:/usr/local/share/ca-certificates/homelab-root-ca.crt:ro"

    networks:
      - "{{ docker_network_name }}"

networks:
  {{ docker_network_name }}:
    external: true