server:
  assets-path: /app/assets

pages:
  - name: Home
    columns:
      - size: small
        widgets:
          - type: clock
            hour-format: 24h

          - type: calendar

      - size: full
        widgets:
          - type: search

          - type: monitor
            title: Services
            sites:
{% for category_name, services in glance_services.items() %}
{% for service in services %}
              - title: {{ service.name }}
                url: http://{{ ansible_facts.default_ipv4.address }}:{{ service.port }}
                icon: {{ service.icon | default('') }}
{% endfor %}
{% endfor %}

          - type: bookmarks
            groups:
{% for category_name, services in glance_services.items() %}
              - title: {{ category_name | title }}
                links:
{% for service in services %}
                  - title: {{ service.name }}
                    url: http://{{ ansible_facts.default_ipv4.address }}:{{ service.port }}
{% endfor %}
{% endfor %}