server:
  assets-path: /app/assets

pages:
  - name: Home
    columns:
      - size: small
        widgets:
          - type: server-stats

      - size: full
        widgets:
          - type: search
            search-engine: google

          - type: monitor
            title: Core Services
            cache: 1m
            sites:
{% for service in glance_services.core %}
              - title: {{ service.name }}
                url: http://{{ ansible_host }}:{{ service.port }}
                icon: {{ service.icon }}
{% endfor %}

          - type: monitor
            title: Media Services
            cache: 1m
            sites:
{% for service in glance_services.media %}
              - title: {{ service.name }}
                url: http://{{ ansible_host }}:{{ service.port }}
                icon: {{ service.icon }}
{% endfor %}

          - type: monitor
            title: Monitoring
            cache: 1m
            sites:
{% for service in glance_services.monitoring %}
              - title: {{ service.name }}
                url: http://{{ ansible_host }}:{{ service.port }}
                icon: {{ service.icon }}
{% endfor %}