[Interface]
Address = {{ wireguard_address }}
ListenPort = {{ wireguard_port }}
PrivateKey = {{ wireguard_private_key_slurp.content | b64decode | trim }}

{% if wireguard_role == 'server' %}
{% for peer in groups['wireguard_clients'] %}
{% if hostvars[peer].wireguard_enabled | default(false) | bool %}
[Peer]
PublicKey = {{ hostvars[peer].wireguard_public_key_value }}
AllowedIPs = {{ hostvars[peer].wireguard_address | ansible.utils.ipaddr('address') }}/32

{% endif %}
{% endfor %}
{% endif %}

{% if wireguard_role == 'client' %}
[Peer]
PublicKey = {{ hostvars[wireguard_server_host].wireguard_public_key_value }}
Endpoint = {{ wireguard_endpoint }}
AllowedIPs = {{ wireguard_allowed_ips | join(', ') }}
PersistentKeepalive = {{ wireguard_persistent_keepalive }}
{% endif %}