[DEFAULT]
ignoreip = {{ security_fail2ban_ignore_ips | join(' ') }}
maxretry = 3
bantime = 1w
findtime = 10m
backend = systemd

[ufw]
enabled = true
filter = ufw.aggressive
action = ufw
logpath = /var/log/ufw.log

[sshd]
enabled = true
port    = {{ security_ssh_port }}
filter  = sshd
maxretry = 5
bantime = 1d